* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    background-color: #F0F1F2;
    justify-content: center;
    align-items: center;
}

.IniciarSesion {
    background: #FEFEFE;
    width: 100%;
    max-width: 380px;
    padding: 30px 40px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.2);
}

.Imagen img {
    width: 65px;
    height: 65px;
}
.Imagen {
    width: 110px;
    height: 110px;
    margin: 0 auto 50%;
    border-radius: 50px;
    border: 4px solid #2DA69A;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.Titulo {
    margin-bottom: 25px;
    color:#2DA69A;
}
.FormulariodeSesion input{
 width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 15px;
}
.FormulariodeSesion input:focus {
     outline: none;
    border-color: #2a5298;
}
.BTN-Inicio{
    width: 100%;
    padding: 12px;
    background: #2DA69A;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 5px;
}
.BTN-Inicio:hover {
    background: #1e3c72;
}
.Recuperar-Contraeña {
    display: block;
    margin-top: 15px;
    font-size: 14px;
    color: #2a5298;
    text-decoration: none;
}
.Recuperar-Contraeña:hover {
    text-decoration: underline;
}